.text-image {
    display: flex;
    flex-direction: row;
}

.text-image-title {
    color: var(--text-color);
}

.text-image-text-column, .text-image-image-column {
    width: 50%;
    color: var(--text-color);
}

.text-image-text-column {
    font-size: 2vh;
    text-align: justify;
}

.text-image-image-column {
    padding: 0% 5%;
}

.text-image-image {
    width: 100%;
}

.text-image-button {

}