:root {
    --primary-color: #0055AA;
    --secondary-color: white;
    --tertiary-color: #004080;
    --quarternary-color: #003366;
    --text-color: black;
    --font-family: Arial, sans-serif;
    --default-blocks-padding: 20px 200px;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: var(--secondary-color);
    padding: var(--default-blocks-padding);
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
}

.header-image
{
    width: 300px;
    height: auto;
}

.menu-items > * {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.0rem;
}

.menu-items a.active {
    color: var(--primary-color);
    font-weight: bold;
    border-bottom: var(--primary-color) solid 2px;
    padding-bottom: 10px;
}

nav a:hover {
    color: var(--primary-color);
    font-weight: bold;
    border-bottom: var(--primary-color) solid 2px;
    padding-bottom: 10px;
}

.prev, .next {
    position: absolute;
    font-size: 2.5vh;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;

    transition: color 0.5s ease, background-color 0.5s ease;
}

.prev:hover, .next:hover {
    color: black;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.prev {
    left: 10%;
}

.next {
    right: 10%;
}

.content {
    padding: var(--default-blocks-padding);
}

.content > div {
    margin: 5% 0%;
}

.button-1 {
    width: 30%;
    padding: 2% 0%;
    margin-top: 4%;
    text-align: center;

    background-color: var(--primary-color);

    cursor: pointer;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.button-1:hover {
    background-color: var(--quarternary-color);
    transition: color 0.5s ease, background-color 0.5s ease;
}

.button-1 > a {
    text-decoration: none;
    color: var(--secondary-color);
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}