:root {
    --primary-color: #0055AA;
    --secondary-color: white;
    --tertiary-color: #1977D5;
    --quarternary-color: #DDDDDD;
    --quinarius-color: #003366;
    --text-color: #333333;
    --observation-color: #C0C0C0;
    --font-family: Arial, sans-serif;
    --default-blocks-padding: 20px 200px;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.prev, .next {
    position: absolute;
    font-size: 2.5vh;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;

    transition: color 0.5s ease, background-color 0.5s ease;
}

.prev:hover, .next:hover {
    color: black;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.prev {
    left: 5%;
}

.next {
    right: 5%;
}

.content {
    padding: var(--default-blocks-padding);
}

.content > div {
    margin: 5% 0%;
}

.button-1 {
    width: 30%;
    padding: 2% 0%;
    margin-top: 4%;
    text-align: center;

    border: none;
    border-radius: 4px;

    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 100%;

    cursor: pointer;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.button-1:hover {
    background-color: var(--quinarius-color);
    transition: color 0.5s ease, background-color 0.5s ease;
}

.button-1 > a {
    text-decoration: none;
    color: var(--secondary-color);
}